body {
      background-color: #f1f1f1 !important;
}
/* toggle menu start */
.icon { max-width: 1em }
.menu {
      width: 100%;
      background-color: #fff;
}
.menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0.2em 0.5em;
}
.menu li { margin: 0 }
.menu a, .menu a:visited {
      color: #000000;
      text-decoration: none;
}
.text {
      display: inline;
      margin: 0;
      font-size: 12px;
      font-weight: 700;
}
/* toggle menu end */
.content {
      background-color: #fff;
      border-bottom: 1px solid #ccc;
}
.logo-text {
      font-size: 20px;
      font-weight: 700;
      padding: 0 9px 0 13px;
}
.toggle-btn {
      height: 50px;
      width: 40px;
      border: none;
      background-color: #fff;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
}
.toggle-btn:focus {
      outline: none;
}
.admin-block {
      border-left: 1px solid #ccc;
}
.menu-toggle {
      border-right: 1px solid rgb(204, 204, 204);
      text-align: center;
}
.dashboard-card {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.all-jobs-card {
      background-image: url("https://dummyimage.com/220X120/00bfef/00bfef");
}
.total-candidates {
      background-image: url("https://dummyimage.com/220X120/f39d12/f39d12");
}
.total-applications {
      background-image: url("https://dummyimage.com/220X120/3379b7/3379b7");
}
.total-interviews {
      background-image: url("https://dummyimage.com/220X120/d81b60/d81b60");
}
.total-hired {
      background-image: url("https://dummyimage.com/220X120/00a65b/00a65b");
}
.total-rejected {
      background-image: url("https://dummyimage.com/220X120/dd4c39/dd4c39");
}
.cards-footer {
      background-color: rgba(0, 0, 0, 0.1);
}
.top-home-text {
      font-size: 12px;
      text-align: right;
}
.popular-jobs-container {
      border-top: 2px solid red;
}
.major-cards-border {
      border-bottom: 1px solid #ccc;
}
.pj-chkbox-block .checkmark:after {
      left: 4px;
      top: 0;
      width: 8px;
      height: 12px;
      border: solid rgba(14, 118, 168, 1);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.checkmark {
      position: absolute;
      top: 10px;
      left: 2px;
      height: 16px;
      width: 18px;
      background-color: #fff;
      border: 1px solid #ccc;
}
.pj-chkbox-block input:checked ~ .checkmark {
      background-color: #fff;
}
.pj-chkbox-block input {
      opacity: 0;
      cursor: pointer;
}
.checkmark:after {
      content: "";
      position: absolute;
      display: none;
}
.pj-chkbox-block input:checked ~ .checkmark:after {
      display: block;
}
.pj-chkbox-block {
      position: relative;
      margin-right: 10px;
      cursor: pointer;
      font-size: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}
.pj-chkbox-label {
      font-weight: 700;
      font-size: 12px;
}
@media only screen and (min-width: 768px) {
      .align-right {
            text-align: right;
      }
}
@media only screen and (max-width: 576px) {
      .table td, .table th {
            font-size: 12px;
            padding: 2%;
      }
}
.top-candi-container {
      border-top: 2px solid green;
}
.white-radius {
      background-color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
}
.job-statuses-container {
      border-top: 2px solid #00c0ef;
}

.k-floatwrap {
      position: absolute !important;
      top: -33px !important;
      right: 10px !important;
      height: 30px !important;
      background-color: #fff !important;
      padding: 0 !important;
      border: none !important;
}
.k-pager-first, .k-pager-input, .k-pager-last {
      display: none !important;
}
.k-pager-wrap .k-link {
      background-color: rgba(0, 154, 255, 1) !important;
      height: 20px;
}
.k-link .k-pager-nav {
      position: absolute;
      right: 0;
}
.k-pager-info {
      background-color: rgba(90, 190, 255, 1);
      margin: 0 0 0 20px !important;
      color: #fff;
      display: block !important;
      padding: 0 10px;
}
.k-header {
      font-weight: 800 !important;
}
.k-i-arrow-60-left:before {
      content: "<" !important;
      color: #fff !important;
}
.k-i-arrow-60-right:before {
      content: ">" !important;
      color: #fff !important;
}
.todo-container {
      border-top: 2px solid #f39c12;
}
.addTodoBtn {
      position: relative;
      left: 70px;
      background-color: rgba(0, 154, 255, 1) !important;
      border: none;
      color: #fff;
      padding: 5px;
      height: 20px;
      top: 4px;
      outline: none !important;
}
.addTodoBtn span {
      position: relative;
      bottom: 8px;
}
.addtodo-input {
      position: relative;
      left: 70px;
      z-index: 1;
      display: none;
}
.todo-table .k-grid-header {
    height: 0;
    border-bottom-width: 0;
    display: none;
    overflow: hidden;
}
.todo-table td {
      border-left: 2px solid rgba(230, 231, 232, 1) !important;
      padding: 0 10px !important;
      background-color: rgba(244, 244, 244, 1);
      border-bottom: 5px solid #fff !important;
}
.job-statuses-container td{
      padding: 5px 10px !important;
}