.pro-view-block {
    background-color: #fff;
}
.proview-unverified {
    position: absolute;
    right: 10px;
    top: 10px;
    color: orange;
    background-color: #fff;
    font-weight: 600;
}
.proview-image-block {
    position: relative;
    top: -60px;
    left: 20px;
    background-color: lightblue;
    color: #fff;
    border-radius: 70px;
    width: 100px;
    height: 100px;
}
.pro-contact-card {
    background-color: #fff;
}
.pro-tabs {
    border-bottom: none !important;
}
.pro-tabs a {
    color: #000;
    text-decoration: none !important;
}
.pro-lock-icon {
    color: orange;
}
/* Custom input file start */
.pro-file-label input[type="file"] {
    position:absolute;
    top: -1000px;
    visibility: hidden;
}
.pro-file-label {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: lightskyblue;
}
.files-block {
    background-color: #fff;
}
/* Custom input file end */